<!DOCTYPE>

<html>
    <head>Test Delegados</head>
    <body>
        <div>
            <form method="post" action="/">
                <p>
                    <span>Introducir A</span>
                    <input type="text" id="A" name="A" />
                </p>
                <p>
                    <span>Introducir B</span>
                    <input type="text" id="B" name="B" />
                </p>
                <input type="submit" value="Calcular"/>
            </form>
        </div>
    </body>
</html>
